</main>
<footer>
    <p>&copy; 2025 Edwin Leal's Recipe Site. Helped by DeepSeek</p>
</footer>
<script src="/js/main.js"></script>
<% if (typeof recipe !== 'undefined') { %>
    <script src="/js/recipe.js"></script>
<% } %>
</body>
</html>